<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/"><i class="fas fa-code"></i>&nbsp;&nbsp;ekzlib</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="router.isActive('/home', true)">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" [class.active]="router.isActive('/view', false)">
        <a class="nav-link" routerLink="/view">Algorithms and Data Structures</a>
      </li>
      <li class="nav-item" [class.active]="router.isActive('/external', false)">
        <a class="nav-link" routerLink="/external">External Resources</a>
      </li>
      <li class="nav-item" [class.active]="router.isActive('/contribute', true)">
        <a class="nav-link" routerLink="/contribute">Contribute</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
