.editor-container {
  height: 100%;
  border: 1px solid lightgrey;
  padding: 2px;
}

#editor {
  height: 100%;
}

.card {
  height: 100%;
}

.clickable-icon {
  color: grey;
}

.clickable-icon:hover {
  color: black;
  cursor: pointer;
}
