<div class="row h-100">
  <div class="d-none d-md-block col-md-4 col-lg-3 col-xl-2 p-0">
    <app-file-list></app-file-list>
  </div>
  <div class="col-12 col-md-8 col-lg-9 col-xl-10 p-4">
    <div class="d-flex flex-column h-100">
      <div *ngIf="file">
        <h2>{{file.title}}</h2>
        <span>Viewing
          <strong>{{file.name}}</strong>
          <a href="javascript:void(0)" (click)="reset()">
            <i class="fas fa-sync"></i>
          </a>
          <a href="javascript:void(0)" (click)="downloadService.download(file)">
            <i class="fas fa-download"></i>
          </a>
        </span>
      </div>
      <div class="card h-100">
        <div *ngIf="file" appAceEditor [(text)]="file.contents"></div>
      </div>
    </div>
  </div>
</div>
