<div class="container-fluid p-4">
  <h2>Welcome!</h2>
  <p>
    Here you will find C++ implementations of useful algorithms and data
    structures for competitive programming.
  </p>
  <div class="d-flex flex-wrap">
    <div
      class="card mr-2 mb-2"
      style="width: 20rem"
      *ngFor="let file of fileList | sort:'title'">
      <div class="card-body">
        <h6>{{ file.title }}</h6>
        <p class="mb-2"><code>{{ file.name }}</code></p>
        <a href="/view/{{ file.name }}" class="btn btn-sm btn-outline-primary">View</a>
      </div>
    </div>
  </div>
  <p>
    This site is maintained by <a href="https://www.ekzhang.com/">Eric Zhang</a>.
    Contributions are welcome!
  </p>
</div>
